body {
    background-color: rgba(215, 215, 215, 0.45);
    padding-bottom: 40px;

}

div#bodyContainer {
    padding-bottom: 75px;
}

div#FooterContainer {

    bottom: 0;
    width: 100%;

    background-color: #f5f5f5;
}




.jumbotron {
    background-image: url("../img/bg.jpg");

}

#leftSide p
{
    color: #f5f5f5;
}



